@keyframes fadein {
  from {opacity:0;top:5pt;}
  to {opacity:1;top:0}
}
body {
  position: relative;
  margin: 20pt 30pt;
  cursor: default;
  -webkit-user-select: none;
  font-family: sans-serif;
  animation: fadein 1s;
  color: rgba(0,0,0,0.87);
}
nav {
  text-align: center;
  padding-bottom: 10pt;
}
nav a {
  -webkit-user-drag: none;
}
.button {
  cursor: default;
}
.button,input,textarea {
  padding: 7pt;
  text-decoration: none;
  border-radius: 3pt;
  transition: 0.2s;
  border: 1px solid lightgray;
  color: rgba(0,0,0,0.54);
}
input,textarea {
  padding: 5pt;
  color: rgba(0,0,0,0.87);
}
.small {
  padding: 5pt;
  display: block;
  text-align: center;
}
.button:hover {
  background-color: lightgray;
  color: inherit;
}
.button:active {
  background-color: gray;
}
.button + .button {
  margin-left: 7pt;
}
*:focus {
  outline: inherit;
  background-color: #fafafa;
}
h1 {
  font-weight: 300;
}
div {
  display: none;
}
div:target {
  display: block;
}
#savestuff {
	float:right;
  width: 20%;
  text-align: right;
}
#currentproject {
  float:left;
  width: 20%;
  color: rgba(0,0,0,0.54);
  transition: 0.2s;
}
#currentproject:hover {
  color: rgba(0,0,0,0.87);
}
a + input {
  margin-left: 7pt;
}
ul {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
}
ul li {
  padding: 10pt;
  list-style: none;
  margin: 0;
  align-items: center;
  padding-top: 0;
}
ul li p {
  margin-top: 0;
}
textarea,input[id="reference"] {
  display: block;
  margin: 0 0 7pt 0;
  width: 100%;
}
textarea {
  height: 50pt;
  font-family: inherit;
}
#addsource {
  float:right;
}
